<script type="text/javascript">

	if ("undefined" !== typeof jQuery)
	{
		var P = (function($)
		{
			return {
				save: function(element)
				{
					var target = $(element).data('target');

					/**
					 * Send AJAX request
					 */
					$.post(target, $(element).parents('form:first').serialize(), function(response)
					{
						if (response.success)
						{
							if ('undefined' !== typeof customer_price_gridJsObject)
							{
								customer_price_gridJsObject.reload();
							}

							return true;
						}
						else 
						{
							alert(response.error);
						}
					}, 'json');
					
					return false;
				},
				apply: function()
				{
					var type = $('select[name=price_type]');

					if (type.length)
					{
						type.on(
						{
							change: function()
							{
								var value = parseInt($(this).val()), F = $('.field-price_fixed'), D = $('.field-price_discount');

								switch(value)
								{
									case 0:
										F.show();
										D.hide().find('input').val('');
										break;
									case 1:
										F.hide().find('input').val('');
										D.show();
										break;
								}
							}
						}).trigger('change');
					}
					
					return this;
				}
			}
		})(jQuery).apply();
	}
	else 
	{
		var P = (function()
		{
			return {
				save: function()
				{
					alert('<?php echo __('Requires jQuery 1.11+') ?>');
					
					return false;
				}
			}
		})();
	}
</script>
<div class="field with-note">
	<label class="label"></label>
	<button type="button" onclick="return P.save(this)" data-target="<?php echo $this->getTarget() ?>" class="action-default scalable action-secondary">Create</button>
</div>
