<input type="text" class="input-text admin__control-text" id="<?php echo $this->getHtmlId()?>-suggest" placeholder="<?php echo __('start typing to search category') ?>" />
<script>
	require(["jquery", "mage/mage"], function($)
	{
		$('#<?php echo $this->getHtmlId()?>-suggest').mage('treeSuggest', <?php echo $this->getSelectorOptions()?>);
	});
</script>